/build
/src/__pycache__
wrapping.code-workspace
src/SMCom.h.gch
*.so
*.out
wiredTemp.cpp
.bin
*.pyc

SMComPy.egg-info
dist/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
